<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!--Import Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>


    <script>
    function submitNavForm()
    {
      var searchQuery = document.getElementById("navSearchBar").value;

      if (searchQuery) {
        document.getElementById("nav-form").action = "/search/" + searchQuery;
        document.getElementById("nav-form").submit();
      } else {
        document.getElementById("nav-form").action = "/events/";
        document.getElementById("nav-form").submit();
      }
    }
    </script>
    <body>
    <!--Top nav bar-->

      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #edeef3 !important;">
        <a class="navbar-brand" href="#"><img src="https://cdn3.volusion.com/drk7m.puwj5/v/vspfiles/photos/636_Brown_Women-2.jpg" style="width:70px; padding: 2px; border: 1px solid silver; border-radius: 10%"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" id="nav-home" href="/">Home</a>
            <a class="nav-item nav-link" id="nav-events" href="/events">Events</a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" id="nav-login" href="{% url 'login'%}?next={{request.path}}">Login</a>
            <a class="nav-item nav-link" id="nav-register" href="{% url 'register'%}?next={{request.path}}">Register</a>
            {% endif %}
          </div>
          <form class="form-inline my-2 my-lg-0 ml-auto" id="nav-form" action="/events" type="GET">
            {% if user.is_authenticated %}
            <li class="nav-item nav-link" style="color: rgba(0,0,0,.5)">{{ user.get_username }}</li>
            {% endif %}
            <input class="form-control mr-sm-2" type="text" name="search" id="navSearchBar" placeholder="Search events" aria-label="Search events">
            <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
          </form>
        </div>
      </nav>



    {% block content %}

    {% endblock %}

  <!--Footer-->
  		<footer class="footer-distributed">
        <!--
  			<div class="footer-right">

  				<a href="#"><i class="fa fa-facebook"></i></a>
  				<a href="#"><i class="fa fa-twitter"></i></a>
  				<a href="#"><i class="fa fa-linkedin"></i></a>
  				<a href="#"><i class="fa fa-github"></i></a>

  			</div>

  			<div class="footer-left">
  				<p class="footer-links">
  					<a href="#">Home</a>
  					·
  					<a href="#">Blog</a>
  					·
  					<a href="#">Pricing</a>
  					·
  					<a href="#">About</a>
  					·
  					<a href="#">Faq</a>
  					·
  					<a href="#">Contact</a>
  				</p>

  				<p align="center" style="text-align: center;">Company Name &copy; 2018</p>
  			</div>
        -->

  		</footer>
  </body>
</html>
