{% extends "base_generic.html" %}
{% block title %}
<title>Home</title>
{% endblock %}


{% block content %}
<script>
  $(document).ready(function() {
    console.log( "ready!" );
    $("#nav-home").addClass("active");
    $(".carousel-item").first().addClass("active");
  });
</script>

<!-- Carousel for promoted events-->
<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      {% if event_list %}
        {% for event in event_list|slice:":3" %}
        <div class="carousel-item">
          <a href="/events/{{ event.title }}">
            {% load static %}
            <img class="d-block w-100 carousel-image" alt="default image" src="{% static event.imgLoc %}" data-holder-rendered="true" style="object-fit: cover; height: 100%;">
            <div class="carousel-caption d-none d-md-block">
              <h3>{{ event.title }}</h3>
              <p>{{ event.venue }}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      {% endif %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Jumbotron-->
<div class="jumbotron" style="background-color: #e6e6e6;">
  <h1 class="display-3">Events, the way you want to see them</h1>
  <br/>
  <p class="lead">We get it, there's a bunch of event websites out there. Why use our site?</p>
  <hr class="my-2">
  <p>Well, because we know everything that is happeinng in the town! Events that your mom does't know about, your friends would never go to....you get the idea.</p>
  <!--<p class="lead">
    <a class="btn btn-primary btn-lg" href="#!" role="button">Some action</a>
  </p> -->
</div>

<!-- Extra space for scrolling-->
<br>
<br>
<br>
<br>
<br><br>
{% endblock %}
