<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        var width = $(window).width();

        if (width < '768') {
          $('#filter-form').removeClass('show');
        }
      });

      function submitNavForm()
      {
        var searchQuery = document.getElementById("navSearchBar").value;

        if (searchQuery) {
          document.getElementById("nav-form").action = "/search/" + searchQuery;
          document.getElementById("nav-form").submit();
        } else {
          document.getElementById("nav-form").action = "/events/";
          document.getElementById("nav-form").submit();
        }
      }
    </script>

    <style>
      .col-md-4 {
        margin-bottom: 30px;
      }

      .event-link {
        margin-bottom: 40px;
        margin-left: 20px;
      }
    </style>
  </head>

  <body style="height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #edeef3 !important;">
      <a class="navbar-brand" href="#"><img src="https://cdn3.volusion.com/drk7m.puwj5/v/vspfiles/photos/636_Brown_Women-2.jpg" style="width:70px; padding: 2px; border: 1px solid silver; border-radius: 10%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/events">Events</a>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto" id="nav-form" onsubmit="submitNavForm()">
          <input class="form-control mr-sm-2" type="search" id="navSearchBar" placeholder="Search events" aria-label="Search events">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="submitNavForm()">Search</button>
        </form>
      </div>
    </nav>
    <br/>


    <!-- event detail section -->
    <div class="row" style="width: 100%; margin: 0px;">
      <!-- left spacing -->
      <div class="col-md-2"></div>
      <!-- event detail -->
      <div class="col-md-8">
        <!-- image, title, and description -->
        <div style="padding-left: 10px; padding-right: 10px;">
          <div style="text-align: center;">
            {% load static %}
            <img class="img-fluid" src="{% static event.imgLoc %}" alt="default image" style="max-height: 400px;">
          </div>
          <br/>
          <h3>{{ event.title }}</h3>
          <br/>
          <p>{{ event.desc }}</p>
        </div>
        <br/><hr/>
        <!-- start date, venue, and price -->
        <div class="row" style="text-align: center;">
          <div class="col-md-4">
            <h4>Date and Time</h4>
            <p>{{ event.startDate }}</p>
          </div>
          <div class="col-md-4">
            <h4>Location</h4>
            <p>{{ event.venue }}</p>
          </div>
          <div class="col-md-4">
            <h4>Cost</h4>
            <p>${{ event.price }}</p>
          </div>
        </div>
      </div>
      <!-- right spacing -->
      <div class="col-md-2"></div>
    </div>

  </body>
</html>
