<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Events List</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
    var prevwidth = $(window).width();
    $(document).ready(function() {
      function checkWidth() {
        var width = $(window).width();

        if (width >= '768') {
          $('#filter-form').addClass('show');
          $('#collapse-form-btn').hide();
        } else {
          if (prevwidth >= '768') {
            $('#filter-form').removeClass('show');
            $('#collapse-form-btn').show();
          }
        }
        prevwidth = width;
      }

      // Execute on load
      checkWidth();
      // Bind event listener
      $(window).resize(function() {
        checkWidth();
      });
    });

    function submitNavForm()
    {
      var searchQuery = document.getElementById("navSearchBar").value;

      if (searchQuery) {
        document.getElementById("nav-form").action = "/search/" + searchQuery;
        document.getElementById("nav-form").submit();
      } else {
        document.getElementById("nav-form").action = "/events/";
        document.getElementById("nav-form").submit();
      }
    }

    function submitForm()
    {
      var searchQuery = document.getElementById("searchBar").value;

      var catRadio;
      // get list of radio buttons with specified name
      var radios = document.getElementById("filter-form").elements["form-category"];

      // loop through list of radio buttons
      var len=radios.length;
      for (var i=0; i<len; i++) {
          if ( radios[i].checked ) { // radio checked?
              catRadio = radios[i].value; // if so, hold its value in val
              break; // and break out of for loop
          }
      }

      if (searchQuery) {
        document.getElementById("filter-form").action = "/search/" + searchQuery;
        document.getElementById("filter-form").submit();
      } else if (catRadio) {
        document.getElementById("filter-form").action = "/category/" + catRadio;
        document.getElementById("filter-form").submit();
      } else {
        document.getElementById("filter-form").action = "/events/";
        document.getElementById("filter-form").submit();
      }
    }
    </script>

    <style>
    .col-md-6 {
      margin-bottom: 30px;
    }

    #block-with-text {
      height: 6em;
    }

    #formCol {
      background-color: #edeef3;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 4px;
    }

    a {
       text-decoration: none ;
       color: black;
    }

    a:hover {
      color: black;
      text-decoration:none;
      cursor:pointer;
    }

    .card-body {
      transition: background-color 0.5s ease;
    }

    .card-body:hover {
      background-color: #f7f8f9;
    }
    </style>
  </head>
  <body style="height: 100%;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #edeef3 !important;">
      <a class="navbar-brand" href="#"><img src="https://cdn3.volusion.com/drk7m.puwj5/v/vspfiles/photos/636_Brown_Women-2.jpg" style="width:70px; padding: 2px; border: 1px solid silver; border-radius: 10%"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link active" href="/events">Events</a>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto" id="nav-form" onsubmit="submitNavForm()">
          <input class="form-control mr-sm-2" type="search" id="navSearchBar" placeholder="Search events" aria-label="Search events">
          <button class="btn btn-outline-success my-2 my-sm-0" onclick="submitNavForm()">Search</button>
        </form>
      </div>
    </nav>

    <div class="row" style="padding: 15px; width: 100%; margin: 0px;">
      <div class="col-md-3" id="formCol">
        <form id="filter-form" class="collapse" action="#" onsubmit="submitForm()">
          <div class="form-group">
            <label for="searchBar">Search</label>
            <input type="text" name="query" class="form-control" id="searchBar" placeholder="Enter a query">
          </div>
          <hr/>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-category" id="cat1" value="Fiesta">
              <label class="form-check-label" for="cat1">Fiesta</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-category" id="cat2" value="Music">
              <label class="form-check-label" for="cat2">Music</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="form-category" id="cat3" value="NSFW">
              <label class="form-check-label" for="cat3">NSFW</label>
            </div>
          </div>
          <hr/>
          <div class="form-group">
            <label for="form-date">Date</label>
            <input type="date" name="date" class="form-control" id="form-date">
          </div>
          <br/>
          <p class="text-center">
            <button class="btn btn-outline-success center" onclick="submitForm()">Submit</button>
          </p>
        </form>
        <center><button id="collapse-form-btn" class="btn btn-info" data-toggle="collapse" data-target="#filter-form">Show Filters</button></center>
      </div>

      <div class="col-md-9">
        <div class="row">
          {% if event_list %}
            {% for event in event_list %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <a href="{{event.get_absolute_url}}">
                <div class="card event-card">
                  {% load static %}
                  <img class="card-img-top" src="{% static event.imgLoc %}" alt="default image" style="height: 200px; object-fit: cover;">
                  <div class="card-body" style="height: 100px;">
                    <h5 class="card-title text-truncate">{{ event.title }}</h5>
                    <p class="card-text text-truncate">{{ event.venue }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
